{% set type = type(value) %}
<div class="rdfa-literal">
    {% if value starts with 'http' %}
        <div class="rdfa-literal-value">
            <a href="{{ value }}" {{ rdfaProperty(property) }}>{{ value }}</a>
        </div>
    {% else %}
        <div class="rdfa-literal-value rdfa-{{ type }}">
            {% if type == 'string' %}
                <span>"</span><span {{ rdfaProperty(property) }}>{{ value }}</span><span>"</span>
            {% elseif type == 'number' %}
                <span {{ rdfaProperty(property) }}>{{ value }}</span>
            {% elseif type == 'bool' %}
                <span {{ rdfaProperty(property) }}>{% if value %} true {% else %} false {% endif %}</span>
            {% else %}
                <span>undefined</span>
            {% endif %}
        </div>
    {% endif %}
</div>